.nosotros{
  background-image: url('/public/img/7.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.tituloNosotros{
  display: flex;
  justify-content: center;
  padding: 40px;
  color: rgb(255, 255, 255);
  font-size: 50px;
  /* filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.705)) */
  text-shadow: 1px 1px 20px rgb(0, 0, 0);
}

/* From Uiverse.io by Daniel1227k */
.contentCardNosotros {
  margin: 40px 0px 0px 0px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
}

.cardNosotros {
  position: relative;
  width: 250px;
  height: 350px;
  background: rgba(255, 0, 0, 0.933);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.cardNosotros::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #0384f4f4, #00ffd0cd);
  border-radius: 15px;
}

.cardNosotros::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #0384f4f4, #00ffd0cd);
  filter: blur(30px);
  border-radius: 15px;
}

.cardNosotros b {
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 15px;
  /* Necesario para que los estilos de fondo se apliquen */
}

.constanza b {
  background-Image: url(/public/img/constanzaPerez.jpeg);
  background-Size: 340px;
  background-Position: 'center';
  display: inline-block;
}

.evelyn b {
  background-Image: url(/public/img/evelynAbarca.jpg);
  background-Size: 280px;
  background-Position: 'center';
  display: inline-block;
}

.camila b {
  background-Image: url(/public/img/camilaBravo.jpg);
  background-Size: 500px;
  background-position-x: center;
  background-position-y:bottom;
}

.cardNosotros .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}

.cardNosotros:hover .content {
  transform: scale(1);
  bottom: 25px;
}

.content .title {
  position: relative;
  color: #fff;
  font-weight: 500;
  line-height: 1em;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.content .title span {
  font-weight: 300;
  font-size: 0.70em;
}

.content .sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 1px;
}

.sci li {
  list-style: none;
}

.sci li .fa-brands {
  width: 15px;
}


.sci li a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(105, 105, 105, 0.751);
  fill: currentColor;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.5s;
}

.sci li a:hover {
  fill: currentColor;
  color: rgba(255, 255, 255, 1);
}