.foroContainer {
    display: flex;
    grid-template-columns: 1fr 1.9fr 1.2fr;
    grid-template-rows: 6.9fr 0.1fr 2.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-left: 0;
    margin-right: -20px;
}

.LSidebar {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 0px;
}

.RSidebar {
    grid-area: 1 / 3 / 2 / 4;
}

.PostForm {
    grid-area: 1 / 2 / 2 / 3;
}

.PostList {
    grid-area: 3 / 2 / 4 / 3;
}