.foroContainer {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "LSidebar PostList RSidebar"
        "LSidebar PostList RSidebar"
        "LSidebar PostList RSidebar";
}

.LSidebar {
    grid-area: LSidebar;
}

.PostForm {
    grid-area: PostForm;
}

.PostList {
    grid-area: PostList;
}

.RSidebar {
    grid-area: RSidebar;
}