.donations-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;
    background-color: #013F56; 
    padding: 60px; 
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    width: 100%; 
    max-width: 1200px;
    margin: 30px auto;
    color: white;
    position: relative;
    min-height: 600px;
    padding-bottom: 180px;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50%;
    text-align: center; 
    padding-right: 20px;
}

.donations-container h2 {
    margin-bottom: 20px; 
    font-size: 2.5rem;
    color: #E5E5E5; 
    font-weight: bold;
}

.donations-container p {
    margin-bottom: 30px; 
    font-size: 1.2rem;
    color: #D5D1D0; 
    line-height: 1.6;
}

.donation-image {
    width: 40%; 
    height: auto;
    border-radius: 15px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    opacity: 0.95;
}

.amount-raised {
    background-color: #2CA5A9; 
    padding: 15px 25px; 
    border-radius: 15px; 
    position: absolute;
    bottom: 20px; 
    left: 30px; 
    right: 30px; 
    height: auto; 
    max-height: 120px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.amount-raised p {
    margin: 0;
    font-size: 1.1rem;
    color: #FFFFFF; 
}

.amount-raised h3 {
    margin: 5px 0;
    font-size: 1.5rem; 
    color: #FFFFFF; 
}

.donate-button {
    background-color: #02E8DC; 
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-self: center; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.donate-button:hover {
    background-color: #00c4b7; 
    transform: scale(1.05); 
}


@media (max-width: 800px) {
    .donations-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        min-height: 500px; 
    }

    .text-and-button, .donation-image {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .amount-raised {
        position: static;
        margin-top: 20px;
        width: 100%;
        max-height: 80px; 
    }

    .donate-button {
        padding: 10px 30px;
        font-size: 1.1rem;
    }
}
