.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fija la sidebar en el lado izquierdo */
    top: 0;
    bottom: 0;
    overflow-y: auto; /* Agrega desplazamiento si el contenido excede la altura */
  }
  