.sPrincipal,
.sReciente,
.stCategorias,
.stMultimedia {
    align-items: center;
    margin-left: 10px;
    color: #011b25;
    display: flex;
}

.sPrincipal:hover,
.sReciente:hover,
.stCategorias:hover,
.stMultimedia:hover {
    color: #02E8DC;
}

.sMenu {
    margin-top: 30px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    color: #011b25;
}

.sCategorias {
    max-width: auto;
}

.logout:hover {
    color: tomato;
}

#userBtn {
    margin-left: 20px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(44, 165, 169)
}

.sColumna {
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 250px;
    max-width: 62%;
}

.rowStyles {
    margin: 0;
    position: absolute;
}