.s-principal,
.s-reciente,
.s-t-categorias,
.s-t-multimedia {
    align-items: center;
    margin-left: 10px;
    color: #011b25;
    display: flex;
}

.s-principal:hover,
.s-reciente:hover,
.s-t-categorias:hover,
.s-t-multimedia:hover {
    color: #02E8DC;
}

.s-menu {
    margin-top: 30px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    color: #011b25;
}

.s-categorias {
    max-width: auto;
}

.logout:hover {
    color: tomato;
}

#user-btn {
    margin-left: 30px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(44, 165, 169)
}

.s-columna {
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 250px;
    max-width: 62%;
}

.row-styles {
    margin: 0;
    position: absolute;
}